.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1,
h2 {
  color: #333;
}
label {
  color: black;
}
.step-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* input[type="text"],
input[type="range"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
} */

.image-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-option {
  text-align: center;
}

.image-option img {
  max-width: 100%;
  height: auto;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.image-option input[type="radio"] {
  display: none;
}

.image-option input[type="radio"]:checked + label {
  font-weight: bold;
}

.image-option input[type="radio"]:checked + label img {
  border-color: #007bff;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-group label {
  margin-right: 10px;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}
