body {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #ff06b8;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.button:hover {
  background-color: #ff66b2;
}

.secondaryButton {
  background-color: #ff66b2;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  border-width: 2px;
  border-color: #fc93de;
}

.secondaryButton:hover {
  background-color: #f7bbd9;
}
